@font-face {
  font-family: 'FSEX300';
  src: url('fonts/fsex.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: lightgreen;
  font-family: 'FSEX300', monospace;
  font-size: 1rem;
}

.terminal {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

.terminal input {
  font-size: 1rem;
  font-family: 'FSEX300', monospace;
  background: black;
  color: lightgreen;
  border: none;
  outline: none;
  width: calc(100% - 55px);
}